<%- partial('_partial/head') %>
<body class="loading">
    <span id="config-title" style="display:none"><%= config.title %></span>
    <div id="loader"></div>
    <%- body %>
</body>
<%- partial('_partial/scripts', null, {cache: true}) %>
<%- partial('_partial/mathjax', null, {cache: true}) %>
<%- partial("_partial/google-analytics", {cache: true}) %>
</html>
