<%
var keywords = '';
var description = '';
(function() {
    if (theme.keywords) {
        keywords += theme.keywords;
        keywords += ',';
    }
    if (page.keywords) {
        keywords += page.keywords;
    }
    if (config.description) {
        description += config.description;
        description += ',';
    }
    if  (is_post()) {
        description += truncate(strip_html(page.content), {length: 100, omission: ','});
    }
})();
%>
<!DOCTYPE html>
<html lang="<%= config.language %>" class="loading">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= page_title() %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google" content="notranslate" />
    <% if (keywords) { %><meta name="keywords" content="<%= keywords %>"> <% } %>
    <% if (description) { %><meta name="description" content="<%= description %>"> <% } %>
    <% if (config.author){ %><meta name="author" content="<%= config.author %>"> <% } %>
    <% if (theme.rss){ %><link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml"> <% } %>
    <% if (theme.favicon){ %><link rel="icon" href="<%- url_for(theme.favicon) %>"> <% } %>
    <% if (theme.gitalk.enable){ %><%- css(['//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css'])%><%}%>
    <% if(theme.twitterpic.enable){ %><meta name="twitter:image:src" content="<%- url_for(theme.twitterpic.src) %>"/><%}%>
    <% if(theme.twitterpic.enable){ %><meta name="twitter:creator" content="@<%=theme.twitterpic.creatorid%>"/><%}%>
    <% if(theme.twitterpic.enable){ %><meta name="twitter:card" content="summary_large_image"/><%} else {%><meta name="twitter:card" content="summary"/><%}%>
    <meta name="twitter:title" content="<%= page_title() %>"/>
    <% if (description) { %><meta name="twitter:description" content="<%= description %>"/><%}%>
    <% if(theme.twitterpic.enable){ %><meta property="og:image" content="<%- url_for(theme.twitterpic.src) %>"/><%}%>
    <% if (description && theme.twitterpic.enable) { %><meta property="og:image:alt" content="<%= description %>"/><% } %>
    <% if(theme.twitterpic.enable){ %><meta property="og:image:width" content="1200"/><% } %>
    <% if(theme.twitterpic.enable){ %><meta property="og:image:height" content="600"/><% } %>
    <meta property="og:site_name" content="<%= config.title %>"/>
    <meta property="og:type" content="object"/>
    <meta property="og:title" content="<%= page_title() %>"/>
    <% if (description) { %><meta property="og:description" content="<%= description %>"/><%}%>
    <%- css(['css/diaspora.css'])%>
    <script>window.searchDbPath = "<%= url_for('/search.xml') %>";</script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
