<%
var keywords = '';
var description = '';
(function() {
    if (theme.keywords) {
        keywords += theme.keywords;
        keywords += ',';
    }
    if (page.keywords) {
        keywords += page.keywords;
    }
    if (config.description) {
        description += config.description;
        description += ',';
    }
    if  (is_post()) {
        description += truncate(strip_html(page.content), {length: 100, omission: ','});
    }
})();
%>
<!DOCTYPE html>
<html lang="<%= config.language %>" class="loading">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= page_title() %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google" content="notranslate" />
    <% if (keywords) { %><meta name="keywords" content="<%= keywords %>"> <% } %>
    <% if (description) { %><meta name="description" content="<%= description %>"> <% } %>
    <% if (config.author){ %><meta name="author" content="<%= config.author %>"> <% } %>
    <% if (theme.rss){ %><link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml"> <% } %>
    <% if (theme.favicon){ %><link rel="icon" href="<%- url_for(theme.favicon) %>"> <% } %>
    <% if (theme.gitalk.enable){ %><%- css(['//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css'])%><%}%>
    <%- css(['css/diaspora.css'])%>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-8691406134231910",
              enable_page_level_ads: true
         });
    </script>
    <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
</head>
