<div class="nav">
    <ul id="menu-menu" class="menu">
        <% for (var i in theme.menu){ %>
        <li class="<%- theme.menu[i].indexOf('http') > -1 ? " " : "pview" %> menu-item menu-item-type-post_type menu-item-object-page">
            <%- link_to(theme.menu[i].lastIndexOf('/') > 0 ? theme.menu[i] : theme.menu[i] + '/', i, {external: true})%>
        </li>
        <%}%>
    </ul>
    <p id="copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
        Powered by <%- link_to("http://hexo.io/", "Hexo", {external: true})%>
        Theme <%- link_to("https://github.com/Fechin/hexo-theme-diaspora", "Diaspora", {external: true})%>
        by Fechin
    </p>
</div>
